@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.left {
  width: 60vw;
  height: 100vh;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: center;
}

.right {
  width: 40vw;
  height: 100vh;
  background-image: url("./images/hero-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.logo {
  margin-left: 12vw;
  margin-top: 5vh;
}

.hero-pic {
  visibility: hidden;
  display: block;
  height: 0;
  width:0;
}

.header {
  margin-top: 12vh;
  margin-left: 12vw;
  font-size: 3.7rem;
  line-height: 4.3rem;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.header span {
  color: var(--desaturated-red);
  font-weight: 300;
}

.text {
  margin-top: 2vh;
  margin-left: 12vw;
  max-width: 400px;
  color: hsl(0, 36%, 70%, 0.9);
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.email-form {
  margin-top: 10vh;
  margin-left: 12vw;
  position: relative;
  height: 45px;
  width: 30vw;
}

.email-input {
  height: 45px;
  width: 30vw;
  margin: 0;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid hsl(0, 36%, 70%, 0.5);
  padding-left: 30px;
  color: var(--desaturated-red);
  font-size: 0.9rem;
}

input:invalid {
  border: 1px solid hsl(0, 36%, 70%, 0.5);
}

.btn {
  height: 49px;
  top: 0;
  margin: 0;
  right: -33px;
  width: 100px;
  position: absolute;
  background-color: var(--soft-red);
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 50px;
  box-shadow: 1px 10px 20px hsl(0, 36%, 70%, 0.5);
  transition: opacity 200ms ease;
}


.btn:hover {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 1px 10px 20px hsl(0, 36%, 70%, 0.9);
}

/* ERROR HANDLING*/



.icon {
  position: absolute;
  top: 13px;
  right: 80px;
  visibility: hidden;
}

.icon.error{
  position: absolute;
  top: 13px;
  right: 80px;
  visibility: visible;
}

.email-input.error {
  border: 1px solid var(--soft-red);
}

.warning {
  font-size: 0.7rem;
  margin-left: 30px;
  color: var(--soft-red);
  visibility: hidden;
}

.warning.error {
  font-size: 0.7rem;
  margin-left: 30px;
  color: var(--soft-red);
  visibility: visible;
  padding-bottom: 20px;
}

/* ------------------------------------------ MOBILE ------------------------------------------ */

@media (max-width: 900px) {

  .right {
    display: none;
    width: 0;
  }

  .hero-pic {
    margin-top: 5vh;
    visibility: visible;
    height: auto;
    width: 100vw;
  }

  .email-form {
    width: 70vw;
  }

  .email-input {
    width: 70vw;
  }

}
